[Unit]
Description=AWS Route53 Dynamic DNS
After=network.target

[Service]
ExecStart=/usr/local/sbin/aws-dyndns $UPDATE_DNS_FQDN $UPDATE_DNS_TTL $UPDATE_AWS_ZONE_ID $UPDATE_RECHECK_SECS
Type=simple
User=nobody
Group=nogroup
EnvironmentFile=/etc/aws-dyndns.conf

[Install]
WantedBy=default.target

